window {
  border-radius: 8px;
  background-color: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.7);
  border: 1px solid #{{colors.outline.default.hex_stripped}};
  padding: 4px 8px;
  margin: 12px;
}

#container {
  padding: 2px;
}

image {
  color: #{{colors.primary.default.hex_stripped}};
  padding-right: 4px;
  -gtk-icon-size: 14px;
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  color: #{{colors.on_surface.default.hex_stripped}};
}

progressbar {
  border-radius: 3px;
  background-color: rgba({{colors.surface_container.default.red}}, {{colors.surface_container.default.green}}, {{colors.surface_container.default.blue}}, 0.8);
  min-height: 5%;
  min-width: 100px;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progress {
  border-radius: 3px;
  background-color: #{{colors.primary.default.hex_stripped}};
  min-height: 3px;
}

progress:disabled {
  background-color: #{{colors.outline.default.hex_stripped}};
}
