window {
  border-radius: 8px;
  background-color: rgba(15, 20, 23, 0.7);
  border: none;
  padding: 4px 8px;
  margin: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#container {
  padding: 2px;
}

image {
  color: #8ccff0;
  padding-right: 4px;
  -gtk-icon-size: 14px;
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  color: #dfe3e7;
}

progressbar {
  border-radius: 3px;
  background-color: rgba(27, 32, 35, 0.8);
  min-height: 5%;
  min-width: 100px;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progress {
  border-radius: 3px;
  background-color: #8ccff0;
  min-height: 3px;
}

progress:disabled {
  background-color: #8a9297;
}
