window {
  border-radius: 8px;
  background-color: rgba(14, 20, 21, 0.7);
  border: 1px solid #899294;
  padding: 4px 8px;
  margin: 12px;
}

#container {
  padding: 2px;
}

image {
  color: #81d3de;
  padding-right: 4px;
  -gtk-icon-size: 14px;
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  color: #dee4e4;
}

progressbar {
  border-radius: 3px;
  background-color: rgba(27, 33, 34, 0.8);
  min-height: 5%;
  min-width: 100px;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progress {
  border-radius: 3px;
  background-color: #81d3de;
  min-height: 3px;
}

progress:disabled {
  background-color: #899294;
}
