window {
  border-radius: 8px;
  background-color: #0f1417;
  border: 1px solid rgba(140, 207, 240, 0.3);
  padding: 4px 8px;
  margin: 0;
}

#container {
  padding: 2px;
}

image {
  color: #8ccff0;
  padding-right: 4px;
  -gtk-icon-size: 14px;
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  color: #dfe3e7;
}

progressbar {
  border-radius: 3px;
  background-color: #1b2023;
  min-height: 5%;
  min-width: 100px;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progress {
  border-radius: 3px;
  background-color: #8ccff0;
  min-height: 3px;
}

progress:disabled {
  background-color: #8a9297;
}
